<app-syllabary-page
  [syllabary]="syllabary"
  [monographs]="monographs"
  [digraphs]="digraphs"
  [diacritics]="diacritics"
  [description]="description"
></app-syllabary-page>
<app-button-with-icon
  text="Learn"
  (click)="toggleLearn()"
></app-button-with-icon>
<app-button-with-icon
  text="Practice"
  (click)="togglePractice()"
></app-button-with-icon>

<div *ngIf="showLearn">
  <app-characters-table
    title="Monographs"
    [rows]="this.jss.getHiraganaMonographs()"
    [columns]="this.jss.getHiraganaMonographsColumns()"
  ></app-characters-table>
  <app-characters-table
    title="Digraphs"
    [rows]="this.jss.getHiraganaDigraphs()"
    [columns]="this.jss.getHiraganaDigraphsColumns()"
  ></app-characters-table>
  <app-characters-table
    title="Diacritics"
    [rows]="this.jss.getHiraganaDiacritics()"
    [columns]="this.jss.getHiraganaMonographsColumns()"
  ></app-characters-table>
  <app-characters-table
    title="Digraphs with diacritics"
    [rows]="this.jss.getHiraganaDigraphsWithDiacritics()"
    [columns]="this.jss.getHiraganaDigraphsColumns()"
  ></app-characters-table>
</div>

<app-practice-form
  [ngStyle]="{ display: showPractice ? 'block' : 'none' }"
></app-practice-form>
