<div class="container">
  <app-syllabary-page
    [syllabary]="syllabary"
    [monographs]="monographs"
    [digraphs]="digraphs"
    [diacritics]="diacritics"
    [description]="description"
  ></app-syllabary-page>
  <div class="break"></div>
  <div class="button-container">
    <app-button-with-icon
      text="Learn"
      whichIcon="learn"
      (click)="toggleLearn()"
    ></app-button-with-icon>
    <app-button-with-icon
      text="Practice"
      whichIcon="practice"
      (click)="togglePractice()"
    ></app-button-with-icon>
  </div>
  <div class="break" *ngIf="showLearn || showPractice"></div>
  <div *ngIf="showLearn">
    <app-characters-table
      class="mt-8"
      title="Monographs"
      [rows]="this.jss.getMonographs(syllabary)"
      [columns]="this.jss.getMonographsColumns(syllabary)"
    ></app-characters-table>
    <app-characters-table
      class="mt-8"
      title="Digraphs"
      [rows]="this.jss.getDigraphs(syllabary)"
      [columns]="this.jss.getDigraphsColumns(syllabary)"
    ></app-characters-table>
    <app-characters-table
      class="mt-8"
      title="Diacritics"
      [rows]="this.jss.getDiacritics(syllabary)"
      [columns]="this.jss.getMonographsColumns(syllabary)"
    ></app-characters-table>
    <app-characters-table
      class="mt-8"
      title="Digraphs with diacritics"
      [rows]="this.jss.getDigraphsWithDiacritics(syllabary)"
      [columns]="this.jss.getDigraphsColumns(syllabary)"
    ></app-characters-table>
  </div>

  <app-practice-form
    [ngStyle]="{ display: showPractice ? 'block' : 'none' }"
  ></app-practice-form>
</div>
