h3 {
  text-decoration: underline;
  font-size: 0.95em;
}

@media (min-width: 800px) {
  h3 {
    font-size: 1.35em;
  }
}

.error-message {
  font-size: 0.8em;
  color: red;
  margin: 0 0 2px 0;
  text-decoration: underline;
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkboxes {
  width: 75%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.margin-helper {
  margin-top: 1.25em;
}

/* CUSTOM CHECKBOXES PRACTICE */

.checkbox-container {
  cursor: pointer;
  position: relative;
  margin: 0.2rem 0.5rem;
  padding-right: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -0.15em;
  left: 90%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #1ed239;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 0.35rem;
  top: 0.08rem;
  width: 0.6rem;
  height: 0.9rem;
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CUSTOM RADIO BUTTONS PRACTICE */

.radio-container {
  cursor: pointer;
  position: relative;
  margin: 0.2rem 0.5rem;
  padding-left: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-checkmark {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: white;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
  top: 0.1rem;
  left: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #1ed239;
}
