h3 {
  text-decoration: underline;
}

.error-message {
  font-size: 0.8em;
  color: red;
  margin: 0 0 2px 0;
  text-decoration: underline;
}

.radio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkboxes {
  width: 75%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.margin-helper {
  margin-top: 1.25em;
}

/* CUSTOM CHECKBOXES PRACTICE */

.checkbox-container {
  cursor: pointer;
  position: relative;
  margin: 0.2em 10px;
  padding-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -0.15em;
  left: 90%;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #1ed239;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* CUSTOM RADIO BUTTONS PRACTICE */

.radio-container {
  cursor: pointer;
  position: relative;
  margin: 0.2em 10px;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-checkmark {
  position: absolute;
  top: -0.08em;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: white;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
  top: 2.5px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1ed239;
}
