<form (ngSubmit)="onSubmit()">
  <h3>What would you like to practice?</h3>
  <p class="error-message" *ngIf="displayModeError">Choose practice mode!</p>
  <div class="radio-buttons">
    <label class="radio-container" for="characters"
      >Characters
      <input
        type="radio"
        name="mode"
        id="characters"
        [(ngModel)]="model.mode"
        (ngModelChange)="clearModeError()"
        [value]="practiceModes.characters"
      />
      <span class="radio-checkmark"></span>
    </label>

    <label class="radio-container" for="transcription"
      >Transcription
      <input
        type="radio"
        name="mode"
        id="transcription"
        [(ngModel)]="model.mode"
        (ngModelChange)="clearModeError()"
        [value]="practiceModes.transcription"
      />
      <span class="radio-checkmark"></span>
    </label>

    <label class="radio-container" for="both"
      >Both
      <input
        type="radio"
        name="mode"
        id="both"
        [(ngModel)]="model.mode"
        (ngModelChange)="clearModeError()"
        [value]="practiceModes.both"
      />
      <span class="radio-checkmark"></span>
    </label>
  </div>
  <h3>Include:</h3>
  <div class="checkboxes">
    <label class="checkbox-container" for="monographs"
      >Monographs
      <input
        type="checkbox"
        name="monographs"
        id="monographs"
        [(ngModel)]="model.monographs"
        (ngModelChange)="clearIncludeError()"
      />
      <span class="checkmark"></span>
    </label>

    <label class="checkbox-container" for="digraphs"
      >Digraphs
      <input
        type="checkbox"
        name="digraphs"
        id="digraphs"
        [(ngModel)]="model.digraphs"
        (ngModelChange)="clearIncludeError()"
      />
      <span class="checkmark"></span>
    </label>

    <label class="checkbox-container" for="diacritics"
      >Diacritics
      <input
        type="checkbox"
        name="diacritics"
        id="diacritics"
        [(ngModel)]="model.diacritics"
        (ngModelChange)="clearIncludeError()"
      />
      <span class="checkmark"></span>
    </label>

    <label class="checkbox-container" for="digraphsdiacritics"
      >Digraphs with diacritics
      <input
        type="checkbox"
        name="digraphsdiacritics"
        id="digraphsdiacritics"
        [(ngModel)]="model.digraphsdiacritics"
        (ngModelChange)="clearIncludeError()"
      />
      <span class="checkmark"></span>
    </label>
  </div>
  <p class="error-message" *ngIf="displayIncludeError">
    Include at least one type of characters!
  </p>
  <div class="margin-helper">
    <app-button-with-icon whichIcon="send" text="Start"></app-button-with-icon>
  </div>
</form>
