<form (ngSubmit)="onSubmit()">
  <p>What would you like to practice?</p>
  <p *ngIf="displayModeError">Choose practice mode!</p>
  <div>
    <input
      type="radio"
      name="mode"
      id="characters"
      [(ngModel)]="model.mode"
      (ngModelChange)="clearModeError()"
      [value]="practiceModes.characters"
    />
    <label for="characters">Characters</label>
  </div>
  <div>
    <input
      type="radio"
      name="mode"
      id="transcription"
      [(ngModel)]="model.mode"
      (ngModelChange)="clearModeError()"
      [value]="practiceModes.transcription"
    />
    <label for="transcription">Transcription</label>
  </div>
  <div>
    <input
      type="radio"
      name="mode"
      id="both"
      [(ngModel)]="model.mode"
      (ngModelChange)="clearModeError()"
      [value]="practiceModes.both"
    />
    <label for="both">Both</label>
  </div>
  <div>
    <label for="monographs">Include monographs: </label>
    <input
      type="checkbox"
      name="monographs"
      id="monographs"
      [(ngModel)]="model.monographs"
      (ngModelChange)="clearIncludeError()"
    />
  </div>
  <div>
    <label for="digraphs">Include digraphs: </label>
    <input
      type="checkbox"
      name="digraphs"
      id="digraphs"
      [(ngModel)]="model.digraphs"
      (ngModelChange)="clearIncludeError()"
    />
  </div>
  <div>
    <label for="diacritics">Include diacritics: </label>
    <input
      type="checkbox"
      name="diacritics"
      id="diacritics"
      [(ngModel)]="model.diacritics"
      (ngModelChange)="clearIncludeError()"
    />
  </div>
  <div>
    <label for="digraphsdiacritics">Include digraphs with diacritics: </label>
    <input
      type="checkbox"
      name="digraphsdiacritics"
      id="digraphsdiacritics"
      [(ngModel)]="model.digraphsdiacritics"
      (ngModelChange)="clearIncludeError()"
    />
  </div>
  <p *ngIf="displayIncludeError">Choose practice mode!</p>
  <input type="submit" value="Start" />
</form>
