<h1>Learn Japanese</h1>
<p>
  This app was made to learn Japanese syllabaries. For now app offers a way to
  learn Hiragana (after I will learn Katakana it will also be added).
</p>
<p>
  The main purpose of this app was to provide a way to rehearse Japanese
  characters in a random order, which is the best way to make me remember all of
  the Hiragana characters.
</p>
<app-navigation-button text="Hiragana" link="hiragana"></app-navigation-button>
<app-navigation-button
  text="Katakana"
  [disabled]="true"
></app-navigation-button>
