table {
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table,
th,
tr,
td,
.first-column {
  border: 4px solid var(--contatiner-border-color);
}

th,
.first-column {
  color: var(--contatiner-border-color);
  background-color: var(--primary-color);
}

app-characters-table-cell {
  height: 100%;
}

.cell {
  display: flex;
  flex-direction: column;
}

td {
  background-color: var(--bg-color);
  min-width: 3em;
  height: 9em;
}

.cell-break {
  position: relative;
  margin: 0 auto;
  height: 2px;
  left: -4px;
  width: calc(100% + 8px);
  background-color: var(--contatiner-border-color);
}

.japanese {
  font-size: 1.45em;
}

.no-border {
  border-style: none;
}

h2 {
  margin: 2.5em 0 1em 0;
}
