<div class="entire-module">
  <h1>{{ syllabary }}</h1>
  <div class="break"></div>
  <p>You are practicing:</p>
  <p>{{ this.whatAmIPracticing() }}</p>
  <p class="count">{{ characterCountUpToNow + 1 }}/{{ numberOfCharacters }}</p>
  <app-practice-module-character
    [character]="currentCharacter"
    [mode]="getMode()"
  ></app-practice-module-character>
  <app-button-with-icon
    *ngIf="characterCountUpToNow + 1 < numberOfCharacters"
    (click)="nextCharacter()"
    whichIcon="next"
    text="Next"
  ></app-button-with-icon>
  <app-navigation-button
    *ngIf="!(characterCountUpToNow + 1 < numberOfCharacters)"
    text="Go back"
    [link]="linkBack()"
    whichIcon="language"
  ></app-navigation-button>
</div>
