@font-face {
  font-family: "Nuku";
  src: local("Nuku"), url(./assets/fonts/nuku1.ttf) format("truetype");
}

@font-face {
  font-family: "Manga";
  src: local("Manga"), url(./assets/fonts/mangat.ttf) format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Manga";
}

:root {
  --bg-color: #529bfa;
  --container-color: #3e8df5;
  --contatiner-border-color: #06418e;
  --primary-color: #eee;
  --bs: 0 0.25em 1em rgba(255, 255, 255, 0.25),
    0 0.125em 0.5em rgba(255, 255, 255, 0.15);
  --fs: 1.125em;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: var(--fs);
}

.container {
  background-color: var(--container-color);
  border-radius: 13px;
  padding: 3em 5em;
  min-width: 600px;
  max-width: 50%;
  margin: 5em auto;
  text-align: center;
  border: var(--contatiner-border-color);
  border-style: solid;
  box-shadow: var(--bs);
}

h1 {
  font-size: 3em;
  margin: 0;
}
