@font-face {
  font-family: "Nuku";
  src: local("Nuku"), url(./assets/fonts/nuku1.ttf) format("truetype");
}

@font-face {
  font-family: "Manga";
  src: local("Manga"), url(./assets/fonts/mangat.ttf) format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Manga";
}
