@font-face {
  font-family: "Nuku";
  src: local("Nuku"), url(./assets/fonts/nuku1.ttf) format("truetype");
}

@font-face {
  font-family: "Manga";
  src: local("Manga"), url(./assets/fonts/mangat.ttf) format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Manga";
}

:root {
  --bg-color: #529bfa;
  --container-color: #3e8df5;
  --contatiner-border-color: #06418e;
  --primary-color: #eee;
  --bs: 0 0.25em 1em rgba(255, 255, 255, 0.25),
    0 0.125em 0.5em rgba(255, 255, 255, 0.15);
  --sm-fs: 0.85em;
  --fs: 1.125em;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: var(--sm-fs);
}

.container {
  background-color: var(--container-color);
  border-radius: 13px;
  padding: 1.5em 2em;
  min-width: 300px;
  max-width: 60%;
  margin: 3em auto;
  text-align: center;
  border: var(--contatiner-border-color);
  border-style: solid;
  box-shadow: var(--bs);
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.break {
  height: 0.01em;
  width: 75%;
  margin: 1.25em auto;
  background-color: var(--primary-color);
}

.mt-2 {
  margin-top: 2em;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.hideRowInSmallScreen {
  display: none;
}

@media (min-width: 800px) {
  .container {
    padding: 3em 4em;
    margin: 5em auto;
  }

  body {
    font-size: var(--fs);
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }

  h2 {
    font-size: 1.13em;
  }

  .hideRowInSmallScreen {
    display: table-row;
  }
}
